.contact_container2 {
    border: none;
    border-radius: 0px;
    background-color: gray;
    padding: 20px;
    color: white;
    margin-top: 0px;
}

input[type=text],
select,
textarea {
    width: 100%;
    resize: vertical;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px 0px;
}

input[type=email] {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin: 10px 0px;
}

input[type=submit] {
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer;
    width: 100px;
    display: block;
    margin: auto;
}

.foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    font-weight: 500;
}