.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  line-height: 70px;
}

.section h1 {
  font-size: 2rem;
  text-align: justify;
}

.section p {
  font-size: larger;
  text-align: center;
}

.section .logo {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}


.text-container2 {
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: -2px -2px 3px white,
    2px 2px 3px white;
  margin: 20px 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.table1 {
  width: 100%;
}


.pic1 {
  border: 2px solid white;
  border-radius: 10px;
  width: 200px;
  height: 230px;

}

.name1 {
  font-size: x-large;
  margin-bottom: 20px;
  color: aquamarine;
}

.para1 {
  text-align: justify;
  text-transform: capitalize;
  font-weight: 100;

}

.table2 {

  margin-top: 15px;
  width: 100%;
}

.pic2 {
  border: 2px solid white;
  border-radius: 10px;
  width: 200px;
  height: 230px;
}

.name2 {
  font-size: x-large;
  margin-bottom: 20px;
  color: chocolate;
}

.para2 {
  text-align: justify;
  text-transform: capitalize;
  font-weight: 100;
}

.count2 {

  margin-left: 10px;
}

.table3 {

  margin-top: 15px;
  width: 100%;
}

.pic3 {
  border: 2px solid white;
  border-radius: 10px;
  width: 200px;
  height: 230px;
}

.name3 {
  font-size: x-large;
  margin-bottom: 20px;
  color: cyan;
}

.para3 {
  text-align: justify;
  text-transform: capitalize;
  font-weight: 100;
}

.desc {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  text-transform: capitalize;
  font-size: large;
  font-weight: 500;
  margin-top: 30px;
  padding: 20px;
}

.foot {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 500;
}